<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satellite Monitoring Software</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="w-screen h-screen overflow-hidden" style="background: url('https://64.media.tumblr.com/a7b1a357db377a1c1f2deccbe57e771f/tumblr_inline_o22zgeqC3O1tzhl5u_400.gif');background-size: cover;background-position:center">
    <h6 class="mx-6 text-center uppercase w-full mt-10 text-[30px] my-5 cursor-pointer font-bold text-white p-4">Satellite Tracking Application using Advance Database</h6>

     <div class="flex items-center justify-center mx-auto my-5">
       <a href="/satellite_position_home"><h6  class="bg-green-500 mr-2 cursor-pointer font-bold text-white p-4">Position Monitoring</h6></a> 
       <a href="/satellites_health_home"><h6 class="bg-green-500 mr-2 cursor-pointer font-bold text-white p-4">Health Monitoring</h6></a> 
       <a href="/satellites_object_visualization_analysis"><h6 class="bg-green-500 mr-2 cursor-pointer font-bold text-white p-4">Object Visualization Analysis</h6></a> 
     </div>
</body>
</html>